<section class='invoices' data-test-invoices>
  <h3>
    Invoice History
  </h3>
   <div class='flex flex--wrap flex--space-between'>
    <p class='margin-top-0' data-test-help-text>
      {{svg-jar 'icon-help' class='icon-help' alt=''}} Having trouble with your invoices?
      {{#link-to 'help' (query-params anchor='form')}}
        We’re happy to help
      {{/link-to}}
    </p>
    {{#travis-form as |form|}}      
      <div class='form-elem select invoice-select-year'>
        {{#form.field
          data-test-invoice-select-year
          value=year
          class='margin-top-0'
          onChange=(action (mut year))
          showValidationStatusIcons=false as |field|
        }}
          {{#field.select options=invoiceYears as |year|}}
            {{year}}
          {{/field.select}}
        {{/form.field}}
      </div>
    {{/travis-form}}
  </div>
  <div class='invoice-table'>
    <table>
      <thead>
        <tr data-test-table-header-row>
          <th> invoice date </th>
          <th> payment card </th>
          <th> total </th>
          <th> download </th>
        </tr>
      </thead>
      <tbody>
        {{#each (sort-by 'createdAt:desc' selectedInvoices) as |invoice|}}
          <tr data-test-invoice>
            <td> {{moment-format invoice.createdAt 'MMMM DD, YYYY'}} </td>
            <td> •••• •••• •••• {{subscription.creditCardInfo.lastDigits}} </td>
            <td> {{format-currency subscription.plan.price }} </td>
            <td>
              <a data-test-invoice-url href={{invoice.url}}>
                {{svg-jar 'icon-invoice' class='icon'}}
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
